.trees {
  background-image: url('./assets/trees.png');
  background-size: auto 100%;
  background-position: center;
  background-repeat: repeat-x;
  height: 25%;
  width: 100%;
  display: flex;
  justify-content: center;
}
.flowers {
  background-image: url('./assets/flowers.png');
  background-size: auto 100%;
  background-position: center;
  background-repeat: repeat-x;
  height: 5%;
  width: 100%;
}
.paths {
  display: flex;
  justify-content: space-between;
  align-items: space-between;
  flex-wrap: wrap;
  margin: 0 0;
  width: 100%;
  flex: 1;
  margin-top: auto;
  position: relative;
  gap: 50px;
}
.paths::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url('./assets/bg2.png');
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.3;
  z-index: 0;
}

.path {
  background-image: url('./assets/path.png');
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  z-index: 10;
}
.path > div {
  width: 100%;
  height: 100%;
  position: relative;
}
.vehicle {
  position: absolute;
  z-index: 1000;
  width: 250px;
  bottom: 15px;
  right: 0%;
  transition: right ease;
}
.vehicle-img {
  width: 100%;
}
.vehicle-logo {
  width: 54px;
  background-image: url(./assets/logo.png);
  position: absolute;
  left: -15px;
  top: -15px;
  transform: scale(0);
  opacity: 0; 
  background: white;
  padding: 2px;
  border-radius: 12px;
  box-shadow: 0px 0px 15px 14px rgb(255 255 255), 0 4px 6px -4px rgb(255 255 255);
}
.vehicle-logo img {
  width: 100%;
}
@keyframes spinAndFade {
  0% {
    transform: scale(1) rotate(0deg);
    opacity: 1;
  }
  30% {
    transform: scale(2) rotate(540deg);
    opacity: 1;
  }
  100% {
    transform: scale(1.2) rotate(1440deg); /* שני סיבובים מלאים עם חזרה */
    opacity: 1;
  }
}
@keyframes flash1 {
  0%, 100% {
    opacity: 0;
  }
  25%, 75% {
    opacity: 1; /* יותר הבהובים */
  }
}
.spin {
  animation: spinAndFade 1.5s ease-in-out forwards; /* זמן קצר יותר */
}

.vehicle-logo.spin {
  animation: spinAndFade 1.5s ease-in-out forwards; /* זמן קצר יותר */
}
.vehicle-logo.flash {
  animation: flash1 0.6s ease-in-out 0.8s forwards; /* קצת יותר קצבי */
}


.shake {
  animation: shake 0.2s infinite linear;
}
@keyframes shake {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-2px);
  }
  100% {
    transform: translateY(2px);
  }
}


.carAnimation {
  animation: carAnimation ease-in-out;
}
@keyframes carAnimation {
  0% {
    transform: translateY(0);
  }
  30% {
    transform: translateY(-2px);
  }
  60% {
    transform: translateY(1px);
  }
  100% {
    transform: translateY(0);
  }
}
.busAnimation {
  animation: shake infinite linear;
  animation-duration: 0.2s !important;
}
@keyframes busAnimation {
  0% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-4px);
  }
  70% {
    transform: translateY(2px);
  }
  100% {
    transform: translateY(0);
  }
}
.truckAnimation {
  animation: truckAnimation linear infinite;
  animation-duration: 1.5s !important;
}
@keyframes truckAnimation {
  0% {
    transform: translateY(0);
  }
  10% {
    transform: translateY(-12px);
  }
  30% {
    transform: translateY(8px);
  }
  50% {
    transform: translateY(-5px);
  }
  70% {
    transform: translateY(4px);
  }
  100% {
    transform: translateY(0);
  }
}
.motorcycleAnimation {
  animation: motorcycleAnimation linear
}
@keyframes motorcycleAnimation {
  0% {
    transform: translateY(0) rotate(0deg);
  }
  15% {
    transform: translateY(-120px) rotate(20deg); /* זינוק גבוה עם הטיה למעלה */
  }
  40% {
    transform: translateY(-80px) rotate(10deg); /* עדיין באוויר, מתאזן */
  }
  60% {
    transform: translateY(-30px) rotate(5deg); /* לקראת נחיתה */
  }
  80% {
    transform: translateY(5px) rotate(-2deg); /* נחיתה הדרגתית */
  }
  100% {
    transform: translateY(0) rotate(0deg); /* נחיתה מלאה */
  }
}

.motorcycleAnimation2 {
  animation: motorcycleAnimation2 linear
}
@keyframes motorcycleAnimation2 {
  0% {
    transform: translateY(0) rotate(0deg);
  }
  15% {
    transform: translateY(-150px) rotate(20deg); /* זינוק גבוה עם הטיה למעלה */
  }
  40% {
    transform: translateY(-100px) rotate(10deg); /* עדיין באוויר, מתאזן */
  }
  60% {
    transform: translateY(-50px) rotate(5deg); /* לקראת נחיתה */
  }
  80% {
    transform: translateY(5px) rotate(-2deg); /* נחיתה הדרגתית */
  }
  100% {
    transform: translateY(0) rotate(0deg); /* נחיתה מלאה */
  }
}

.vehicleCollision {
  animation: vehicleCollisionShake 0.6s cubic-bezier(0.25, 1, 0.5, 1) 1;
}
@keyframes vehicleCollisionShake {
  0% {
    transform: translateX(0);
  }
  10% {
    transform: translateX(-10px); /* נסיגה קלה לאחור */
  }
  20% {
    transform: translateX(10px); /* דחיפה קלה קדימה */
  }
  30% {
    transform: translateX(-7px); /* חזרה אחורה */
  }
  40% {
    transform: translateX(7px); /* חזרה קדימה */
  }
  50% {
    transform: translateX(-5px); /* תנודה עדינה לאחור */
  }
  60% {
    transform: translateX(5px); /* תנודה עדינה קדימה */
  }
  80% {
    transform: translateX(-3px); /* תנועה קטנה אחורה */
  }
  90% {
    transform: translateX(3px); /* תנועה קטנה קדימה */
  }
  100% {
    transform: translateX(0); /* חזרה חלקה למצב ההתחלתי */
  }
}

/* ============= TASK */
#task-modal .modal-content, #winnerModal .modal-content {
  width: 70% !important;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center ;
  background-image: url('./assets/sign.png');
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;
}
#winnerModal .modal-content {
  background-image: url('./assets/win.png');
}

.vehicles-container {
  display: flex;
  justify-content: space-evenly; /* ריווח אחיד בין כלי הרכב */
  align-items: end;
  gap: 10px; /* רווח קטן בין רכבים */
  margin-top: 20px;
  flex-wrap: nowrap; /* שמירה על שורה אחת */
  overflow-x: auto; /* גלילה אופקית במקרה של עומס */
  width: 100%;
  padding-bottom: 20px;
  padding-top: 119px;
  margin-bottom: 20px;
}

.vehicles-container img {
  flex: 1 1 auto;
  max-width: calc(100% / 5 - 10px);
  cursor: pointer;
  transition: transform 0.2s ease;
}

.vehicles-container img:hover {
  transform: scale(1.1);
}
/* אנימציה לנפילה */
@keyframes fall {
  0% {
    transform: translateY(-100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

/* אנימציה להבהוב וגדילה */
@keyframes flash {
  0%, 100% {
    color: white;
    transform: scale(1);
  }
  50% {
    color: #6c2c11;
    transform: scale(1.2); /* גידול */
  }
}

.flash {
  animation: flash 1s 2;
}

#task-text {
  align-items: center;
  justify-content: center;
  display: flex;
  gap: 15px;
  padding: 40px 50px;
  padding-bottom: 0;
  border-radius: 15px;
  color: #6c2c11;
  max-width: 100%;
  flex-wrap: wrap;
  font-size: 3rem;
  margin-bottom: 0;
}
#task-text img {
  height: 40vh;
  border-radius: 24px;
  margin-bottom: -100px;
}
.vehicle.shake {
  animation: shake 0.6s ease-in-out infinite; /* הרטיטה תימשך באופן אינסופי */
}

#task-button {
  cursor: pointer;
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 99999;
  height: 10vh;
}

#task-button img {
  animation: zoomInOut 4s ease-in-out infinite;
  cursor: pointer;
  box-shadow:-2px -1px 7px 9px rgb(255 255 255 / 77%), 0 4px 6px -4px rgb(255 255 255 / 94%);
  border-radius: 500px;
  height: 100%;
}


/* ============== obstacle */
.obstacle {
  height: 80%;
  position: absolute;
  bottom: 20px;
}

/* ------------- win */
.vehicleDance {
  animation: vehicleDance 1.5s ease-in-out infinite;
}

@keyframes vehicleDance {
  0% {
    transform: translateY(0) rotate(0deg);
  }
  25% {
    transform: translateY(-10px) rotate(-5deg);
  }
  50% {
    transform: translateY(0) rotate(5deg);
  }
  75% {
    transform: translateY(10px) rotate(-5deg);
  }
  100% {
    transform: translateY(0) rotate(0deg);
  }
}

#winnerModal .modal-content {
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#winnerModal .vehicle-image {
  width: 240px;
  margin-bottom: 20px;
}

#winnerModal .winner-text {
  font-size: 95px;
  font-weight: bold;
  color: var(--color-yellow);
  animation: textFlash 1.5s ease-in-out infinite, zoomInOut 4s ease-in-out infinite;
  stroke: white;
  -webkit-text-stroke: 2px #ffffff;
}

@keyframes bounceIn {
  0% {
    transform: scale(0.3);
    opacity: 0;
  }
  50% {
    transform: scale(1.1);
    opacity: 1;
  }
  100% {
    transform: scale(1);
  }
}

@keyframes textFlash {
  0%, 100% {
    color: #b8205d;
  }
  50% {
    color: var(--color-yellow);
  }
}


.winner-text {
  font-size: 30px;
}