:root {
  --random-delay: 0s;
  --color-blue: #09081e;
  --color-gray: #e9ebf3;
  --color-yellow: #eb9f21;
  --color-light-purple: #98aaf1;
  --color-red: #ff7777;
  --color-green: rgb(144, 238, 144);
  --logo-animation-duration: 8s;
}

@font-face {
  font-family: 'MyCustomFont';
  src: url('assets/font.woff') format('woff'),
       url('assets/font.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body,
html {
  margin: 0;
  padding: 0;
  min-height: 100%;
  display: flex;
  width: 100vw;
  background-color: var(--color-gray);
  font-family: 'MyCustomFont', sans-serif; /* השתמש בפונט שהגדרת */
}

.hidden {
  display: none !important;
}

.transparent {
  opacity: 0 !important;
  transition: all 2s ease;
}

.text-to-highlight {
  position: relative;
}

/* ================ page layout ================ */
body {
  display: flex;
  flex-direction: column;
}

.header {
  background-color: #ffffff63;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 25px 5px 0;
  flex-direction: row;
  position: relative;
  height: 70px;
  width: 100%;
}

.header .logo-container {
  position: relative;
  cursor: pointer;
  flex: 1;
  display: flex;
  height: 100%;
}

.logo {
  height: 90%;
}
.logo img {
  height: 100%;
}

.logo-container .logo:nth-child(1) {
  animation: logoAnimation1 var(--logo-animation-duration) infinite;
}

.logo-container .logo:nth-child(2) {
  margin-left: auto;
  position: absolute;
  animation: logoAnimation2 var(--logo-animation-duration) infinite;
}

.footer {
  background-color: #bbd693;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px;
  flex-direction: row;
  position: relative;
  padding: 5px 25px;
  border-top: 1px solid var(--color-gray);
}

.footer .created-by {
  display: flex;
  direction: ltr;
  color: var(--color-yellow);
  gap: 5px;
  font-size: 12px;
}

.footer .created-by a {
  color: var(--color-yellow);
  opacity: 0.8;
}

.container {
  display: flex;
  width: 100%;
  height: 100%;
  position: relative;
}

/* board */
.board-container {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  /* gap: 50px; */
  /* flex-wrap: wrap; */
  position: relative;
}

.section {
  flex: 0 1 auto;
  min-width: 525px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(4, auto);

  grid-template-columns: repeat(5, minmax(50px, 150px));
  grid-template-rows: repeat(4, minmax(120px, 1fr));

  gap: 10px;
  padding: 20px;
  box-sizing: border-box;
  position: relative;
  z-index: 10;
}

/* ================ timer ================ */
.timer-container {
  direction: ltr;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 28px;
  color: var(--color-yellow);
  margin-right: auto;
  background-color: white;
  padding: 5px;
  border-radius: 15px;
}

.digit {
  display: inline-block;
  min-width: 20px;
  position: relative;
  overflow: hidden;
  /* Ensures content outside the bounds is hidden */
}

.digit.new {
  animation: slideUp 0.3s ease-in-out forwards;
}

.digit.old {
  animation: slideDown 0.3s ease-in-out forwards;
}

/* =============== gift ======================= */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.modal-content {
  background-color: var(--color-gray);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  width: 90%;
  z-index: 99;
}

#gift-modal-content h1 {
  margin-bottom: 5px;
}

#gift-modal-content h2 {
  margin-top: 5px;
  padding: 5px 100px;
}
#gift-modal-content code {
  padding: 5px;
  margin: 0 8px;
  border-radius: 1px;
  background-color: var(--color-light-purple);
}
#gift-close-modal {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  cursor: pointer;
}

.modal-overlay.active {
  visibility: visible;
  opacity: 1;
}


/* ================ animations ================ */
.rotate {
  transform-origin: center;
  animation: rotate 3s linear infinite;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}


.swing {
  animation: swing 10s infinite;
  animation-delay: var(--random-delay);
}

@keyframes swing {
  0% {
    transform: rotate(0deg)
  }

  15% {
    transform: rotate(-15deg)
  }

  30% {
    transform: rotate(0deg)
  }

  45% {
    transform: rotate(15deg)
  }

  60% {
    transform: rotate(0deg)
  }

  100% {
    transform: rotate(0deg)
  }
}

.zoom {
  animation: zoomInOut 4s ease-in-out infinite;
  transform-origin: center;
  animation-delay: var(--random-delay);
}

.zoom-out {
  animation: zoom-out 4s ease-in-out forwards;
}

.zoom-once {
  animation: zoomInOutOnce var(--anim-duration, 1s) ease-in-out;
  animation-delay: var(--random-delay);
}

@keyframes zoomInOutOnce {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes zoom-out {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(0.5);
  }
}


@keyframes zoomInOut {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.3);
  }

  100% {
    transform: scale(1);
  }
}

.blink-bg-color {
  animation: blink 1s infinite;
  background-color: var(--blink-color, #98aaf1) !important;
}

@keyframes blink {

  0%,
  100% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }
}

.rotate-zoom {
  z-index: 100 !important;
  animation: rotate-zoom 4s forwards, blink 0.1s 3.5s step-end 20;
}

@keyframes rotate-zoom {
  0% {
    transform: rotate(0deg) scale(0.2);
  }

  100% {
    transform: rotate(10000deg) scale(3);
  }
}

.die-animation {
  z-index: 100 !important;
  animation: dieEffect 4s ease-out forwards;
}

@keyframes dieEffect {
  0% {
    transform: rotate(0deg) scale(4);
    opacity: 1;
    filter: hue-rotate(0deg);
  }

  50% {
    transform: rotate(90deg) scale(0.8);
    opacity: 0.8;
    filter: hue-rotate(90deg);
  }

  100% {
    transform: rotate(180deg) scale(0);
    opacity: 0;
    filter: hue-rotate(180deg);
  }
}

@keyframes slideUp {
  from {
    transform: translateY(100%);
    opacity: 0;
  }

  to {
    transform: translateY(0%);
    opacity: 1;
  }
}

@keyframes slideDown {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }

  to {
    transform: translateY(0%);
    opacity: 1;
  }
}

@keyframes shimmer {
  0% {
    background-position: 0% 50%;
  }

  100% {
    background-position: 200% 50%;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes brushEffect {
  0% {
    background-size: 0% 100%;
  }

  100% {
    background-size: 100% 100%;
  }
}

@keyframes logoAnimation2 {
  0% {
    right: 0;
    opacity: 0;
  }

  20% {
    opacity: 0.8;
  }

  99% {
    right: 90%;
    opacity: 0;
  }

  100% {
    right: 0;
    opacity: 0;
  }
}

@keyframes logoAnimation1 {
  0% {
    opacity: 0;
  }

  20% {
    opacity: 1;
  }

  100% {
    opacity: 1;
  }
}

/* ----------game */


.trees {
  background-image: url('./assets/trees.png');
  background-size: auto 100%;
  background-position: center;
  background-repeat: repeat-x;
  height: 25%;
  width: 100%;
  display: flex;
  justify-content: center;
}
.flowers {
  background-image: url('./assets/flowers.png');
  background-size: auto 100%;
  background-position: center;
  background-repeat: repeat-x;
  height: 5%;
  width: 100%;
}
.paths {
  display: flex;
  justify-content: space-between;
  align-items: space-between;
  flex-wrap: wrap;
  margin: 0 0;
  width: 100%;
  flex: 1;
  margin-top: auto;
  position: relative;
  gap: 50px;
}
.paths::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url('./assets/bg2.png');
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.3;
  z-index: 0;
}

.path {
  background-image: url('./assets/path.png');
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  z-index: 10;
}
.path > div {
  width: 100%;
  height: 100%;
  position: relative;
}
.vehicle {
  position: absolute;
  z-index: 1000;
  width: 250px;
  bottom: 15px;
  right: 0%;
  transition: right ease;
}
.vehicle-img {
  width: 100%;
}
.vehicle-logo {
  width: 54px;
  background-image: url(./assets/logo.png);
  position: absolute;
  left: -15px;
  top: -15px;
  transform: scale(0);
  opacity: 0; 
  background: white;
  padding: 2px;
  border-radius: 12px;
  box-shadow: 0px 0px 15px 14px rgb(255 255 255), 0 4px 6px -4px rgb(255 255 255);
}
.vehicle-logo img {
  width: 100%;
}
@keyframes spinAndFade {
  0% {
    transform: scale(1) rotate(0deg);
    opacity: 1;
  }
  30% {
    transform: scale(2) rotate(540deg);
    opacity: 1;
  }
  100% {
    transform: scale(1.2) rotate(1440deg); /* שני סיבובים מלאים עם חזרה */
    opacity: 1;
  }
}
@keyframes flash1 {
  0%, 100% {
    opacity: 0;
  }
  25%, 75% {
    opacity: 1; /* יותר הבהובים */
  }
}
.spin {
  animation: spinAndFade 1.5s ease-in-out forwards; /* זמן קצר יותר */
}

.vehicle-logo.spin {
  animation: spinAndFade 1.5s ease-in-out forwards; /* זמן קצר יותר */
}
.vehicle-logo.flash {
  animation: flash1 0.6s ease-in-out 0.8s forwards; /* קצת יותר קצבי */
}


.shake {
  animation: shake 0.2s infinite linear;
}
@keyframes shake {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-2px);
  }
  100% {
    transform: translateY(2px);
  }
}


.carAnimation {
  animation: carAnimation ease-in-out;
}
@keyframes carAnimation {
  0% {
    transform: translateY(0);
  }
  30% {
    transform: translateY(-2px);
  }
  60% {
    transform: translateY(1px);
  }
  100% {
    transform: translateY(0);
  }
}
.busAnimation {
  animation: shake infinite linear;
  animation-duration: 0.2s !important;
}
@keyframes busAnimation {
  0% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-4px);
  }
  70% {
    transform: translateY(2px);
  }
  100% {
    transform: translateY(0);
  }
}
.truckAnimation {
  animation: truckAnimation linear infinite;
  animation-duration: 1.5s !important;
}
@keyframes truckAnimation {
  0% {
    transform: translateY(0);
  }
  10% {
    transform: translateY(-12px);
  }
  30% {
    transform: translateY(8px);
  }
  50% {
    transform: translateY(-5px);
  }
  70% {
    transform: translateY(4px);
  }
  100% {
    transform: translateY(0);
  }
}
.motorcycleAnimation {
  animation: motorcycleAnimation linear
}
@keyframes motorcycleAnimation {
  0% {
    transform: translateY(0) rotate(0deg);
  }
  15% {
    transform: translateY(-120px) rotate(20deg); /* זינוק גבוה עם הטיה למעלה */
  }
  40% {
    transform: translateY(-80px) rotate(10deg); /* עדיין באוויר, מתאזן */
  }
  60% {
    transform: translateY(-30px) rotate(5deg); /* לקראת נחיתה */
  }
  80% {
    transform: translateY(5px) rotate(-2deg); /* נחיתה הדרגתית */
  }
  100% {
    transform: translateY(0) rotate(0deg); /* נחיתה מלאה */
  }
}

.motorcycleAnimation2 {
  animation: motorcycleAnimation2 linear
}
@keyframes motorcycleAnimation2 {
  0% {
    transform: translateY(0) rotate(0deg);
  }
  15% {
    transform: translateY(-150px) rotate(20deg); /* זינוק גבוה עם הטיה למעלה */
  }
  40% {
    transform: translateY(-100px) rotate(10deg); /* עדיין באוויר, מתאזן */
  }
  60% {
    transform: translateY(-50px) rotate(5deg); /* לקראת נחיתה */
  }
  80% {
    transform: translateY(5px) rotate(-2deg); /* נחיתה הדרגתית */
  }
  100% {
    transform: translateY(0) rotate(0deg); /* נחיתה מלאה */
  }
}

.vehicleCollision {
  animation: vehicleCollisionShake 0.6s cubic-bezier(0.25, 1, 0.5, 1) 1;
}
@keyframes vehicleCollisionShake {
  0% {
    transform: translateX(0);
  }
  10% {
    transform: translateX(-10px); /* נסיגה קלה לאחור */
  }
  20% {
    transform: translateX(10px); /* דחיפה קלה קדימה */
  }
  30% {
    transform: translateX(-7px); /* חזרה אחורה */
  }
  40% {
    transform: translateX(7px); /* חזרה קדימה */
  }
  50% {
    transform: translateX(-5px); /* תנודה עדינה לאחור */
  }
  60% {
    transform: translateX(5px); /* תנודה עדינה קדימה */
  }
  80% {
    transform: translateX(-3px); /* תנועה קטנה אחורה */
  }
  90% {
    transform: translateX(3px); /* תנועה קטנה קדימה */
  }
  100% {
    transform: translateX(0); /* חזרה חלקה למצב ההתחלתי */
  }
}

/* ============= TASK */
#task-modal .modal-content, #winnerModal .modal-content {
  width: 70% !important;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center ;
  background-image: url('./assets/sign.png');
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;
}
#winnerModal .modal-content {
  background-image: url('./assets/win.png');
}

.vehicles-container {
  display: flex;
  justify-content: space-evenly; /* ריווח אחיד בין כלי הרכב */
  align-items: end;
  gap: 10px; /* רווח קטן בין רכבים */
  margin-top: 20px;
  flex-wrap: nowrap; /* שמירה על שורה אחת */
  overflow-x: auto; /* גלילה אופקית במקרה של עומס */
  width: 100%;
  padding-bottom: 20px;
  padding-top: 119px;
  margin-bottom: 20px;
}

.vehicles-container img {
  flex: 1 1 auto;
  max-width: calc(100% / 5 - 10px);
  cursor: pointer;
  transition: transform 0.2s ease;
}

.vehicles-container img:hover {
  transform: scale(1.1);
}
/* אנימציה לנפילה */
@keyframes fall {
  0% {
    transform: translateY(-100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

/* אנימציה להבהוב וגדילה */
@keyframes flash {
  0%, 100% {
    color: white;
    transform: scale(1);
  }
  50% {
    color: #6c2c11;
    transform: scale(1.2); /* גידול */
  }
}

.flash {
  animation: flash 1s 2;
}

#task-text {
  align-items: center;
  justify-content: center;
  display: flex;
  gap: 15px;
  padding: 40px 50px;
  padding-bottom: 0;
  border-radius: 15px;
  color: #6c2c11;
  max-width: 100%;
  flex-wrap: wrap;
  font-size: 3rem;
  margin-bottom: 0;
}
#task-text img {
  height: 40vh;
  border-radius: 24px;
  margin-bottom: -100px;
}
.vehicle.shake {
  animation: shake 0.6s ease-in-out infinite; /* הרטיטה תימשך באופן אינסופי */
}

#task-button {
  cursor: pointer;
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 99999;
  height: 10vh;
}

#task-button img {
  animation: zoomInOut 4s ease-in-out infinite;
  cursor: pointer;
  box-shadow:-2px -1px 7px 9px rgb(255 255 255 / 77%), 0 4px 6px -4px rgb(255 255 255 / 94%);
  border-radius: 500px;
  height: 100%;
}


/* ============== obstacle */
.obstacle {
  height: 80%;
  position: absolute;
  bottom: 20px;
}

/* ------------- win */
.vehicleDance {
  animation: vehicleDance 1.5s ease-in-out infinite;
}

@keyframes vehicleDance {
  0% {
    transform: translateY(0) rotate(0deg);
  }
  25% {
    transform: translateY(-10px) rotate(-5deg);
  }
  50% {
    transform: translateY(0) rotate(5deg);
  }
  75% {
    transform: translateY(10px) rotate(-5deg);
  }
  100% {
    transform: translateY(0) rotate(0deg);
  }
}

#winnerModal .modal-content {
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#winnerModal .vehicle-image {
  width: 240px;
  margin-bottom: 20px;
}

#winnerModal .winner-text {
  font-size: 95px;
  font-weight: bold;
  color: var(--color-yellow);
  animation: textFlash 1.5s ease-in-out infinite, zoomInOut 4s ease-in-out infinite;
  stroke: white;
  -webkit-text-stroke: 2px #ffffff;
}

@keyframes bounceIn {
  0% {
    transform: scale(0.3);
    opacity: 0;
  }
  50% {
    transform: scale(1.1);
    opacity: 1;
  }
  100% {
    transform: scale(1);
  }
}

@keyframes textFlash {
  0%, 100% {
    color: #b8205d;
  }
  50% {
    color: var(--color-yellow);
  }
}


.winner-text {
  font-size: 30px;
}